In [1]:
import numpy as np
import pandas as pd

In [3]:
flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('house_cleaned.csv')

In [13]:
df = pd.read_csv('gurgaon_properties.csv')

In [15]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [17]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,4 BHK Flat in Sector 67 Gurgaon,flat,ireo victory valley,Sector 67,4.55,14536.0,3130.0,Super Built up area 3130(290.79 sq.m.),4,4,...,servant room,"Middle Floor, Sector 67 Gurgaon, Gurgaon, Haryana",19.0,South,1 to 5 Year Old,"['AIPL Joy Street Mall', 'Golf Course Extensio...",This 4 bhk flat is located in ireo victory val...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '4 Ge...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4 out of..."
1,4 BHK Flat in Sector 9A Gurgaon,flat,railway officers rpf society,Sector 9A,1.25,6921.0,1806.0,Carpet area: 1806 (167.78 sq.m.),4,3,...,servant room,"101, Tower A, Sector 9A Gurgaon, Gurgaon, Haryana",1.0,South-West,10+ Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Esic...",4bhk flat/apartment for sale in rpf housing so...,"['3 Wardrobe', '1 Exhaust Fan', '3 Geyser', '1...","['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
2,2 BHK Flat in Sector 11 Gurgaon,flat,global hill view,Sector 11,0.36,5150.0,699.0,Built Up area: 699 (64.94 sq.m.),2,2,...,not available,"Sohna Sector 11, Sector 11 Gurgaon, Gurgaon, H...",15.0,NaN,undefined,NaN,"2 bath, unfurnished, 15th floor (Of 20), globa...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
3,5 Bedroom House for sale in Sushant Lok Phase 3,house,independent,Sushant Lok Phase 3,8.31,24171.0,3438.0,Plot area 382(319.4 sq.m.),5,6,...,"store room,pooja room,servant room,study room","Corner Villa, Sushant Lok Phase 3, Gurgaon, Ha...",4.0,North-East,10+ Year Old,"['Radhakrishna Shani Mandir', 'Sanatan Dharm M...","Sushant lok-3\nBlock-B, corner villa at plot r...",[],"['Feng Shui / Vaastu Compliant', 'False Ceilin...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
4,3 BHK Flat in Sector 83 Gurgaon,flat,vatika lifestyle homes,Sector 83,1.15,8214.0,1400.0,Super Built up area 1832(170.2 sq.m.)Carpet ar...,3,3,...,not available,"Block A, Sector 83 Gurgaon, Gurgaon, Haryana",7.0,South-West,5 to 10 Year Old,"['Sapphire 83 Mall', 'NH – 08', 'Knowledge Tre...",For the actual picture please let us know if t...,"['3 Wardrobe', '2 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area4.5 out of 5', 'Construction4 out ..."

In [19]:
df['sector'] = df['sector'].str.lower()

In [23]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [25]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [47]:
df['sector'].value_counts()

sector
sohna road    162
sector 102    113
sector 85     110
sector 92     106
sector 69      93
             ...
sector 27       3
sector 88b      3
sector 73       3
sector 17b      3
sector 37       2
Name: count, Length: 113, dtype: int64

In [49]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [51]:
df[df['sector'] == 'new']

Empty DataFrame
Columns: [property_name, property_type, society, sector, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, floorNum, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

[0 rows x 21 columns]

In [53]:
df.loc[299,'sector'] = 'sector 37'
df.loc[811,'sector'] = 'sector 92'
df.loc[1858,'sector'] = 'sector 90'
df.loc[2992,'sector'] = 'sector 76'

In [55]:
df[df['sector'] == 'new sector 2']

Empty DataFrame
Columns: [property_name, property_type, society, sector, price, price_per_sqft, area, areaWithType, bedRoom, bathroom, balcony, additionalRoom, address, floorNum, facing, agePossession, nearbyLocations, description, furnishDetails, features, rating]
Index: []

[0 rows x 21 columns]

In [57]:
df.loc[[773,1550,3114,3255,3664],'sector'] = 'sector 110'

In [59]:
df['sector'].value_counts()

sector
sohna road    162
sector 102    113
sector 85     110
sector 92     106
sector 69      93
             ...
sector 27       3
sector 88b      3
sector 73       3
sector 17b      3
sector 37       2
Name: count, Length: 113, dtype: int64

In [61]:
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [63]:
df.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,flat,ireo victory valley,sector 67,4.55,14536.0,3130.0,Super Built up area 3130(290.79 sq.m.),4,4,3+,servant room,19.0,South,1 to 5 Year Old,"['AIPL Joy Street Mall', 'Golf Course Extensio...","['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '4 Ge...","['Centrally Air Conditioned', 'Water purifier'..."
1,flat,railway officers rpf society,sector 9a,1.25,6921.0,1806.0,Carpet area: 1806 (167.78 sq.m.),4,3,3,servant room,1.0,South-West,10+ Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Esic...","['3 Wardrobe', '1 Exhaust Fan', '3 Geyser', '1...","['Power Back-up', 'Feng Shui / Vaastu Complian..."
2,flat,global hill view,sector 11,0.36,5150.0,699.0,Built Up area: 699 (64.94 sq.m.),2,2,0,not available,15.0,NaN,undefined,NaN,NaN,NaN
3,house,independent,sector 57,8.31,24171.0,3438.0,Plot area 382(319.4 sq.m.),5,6,3+,"store room,pooja room,servant room,study room",4.0,North-East,10+ Year Old,"['Radhakrishna Shani Mandir', 'Sanatan Dharm M...",[],"['Feng Shui / Vaastu Compliant', 'False Ceilin..."
4,flat,vatika lifestyle homes,sector 83,1.15,8214.0,1400.0,Super Built up area 1832(170.2 sq.m.)Carpet ar...,3,3,1,not available,7.0,South-West,5 to 10 Year Old,"['Sapphire 83 Mall', 'NH – 08', 'Knowledge Tre...","['3 Wardrobe', '2 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."

In [65]:
df.to_csv('gurgaon_properties_cleaned_v1.csv',index=False)

134